.contacts {
  padding: 38px 0 39px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 69px 0 56px;
  }

  @media (min-width: @desktop-width) {
    padding: 107px 0 105px;
  }
}

.contacts__wrapper {
  display: grid;

  @media (min-width: @desktop-width) {
    position: relative;
    grid-template-columns: 88px 326px 527px;
    column-gap: 23px;
    margin-left: 63px;
    justify-items: start;
  }
}

.contacts__title {
  margin: 0 0 28px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      top: -23px;
      right: 3px;
      background-image: url("../../img/index/flag.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    grid-column: span 2;
    margin: 79px 0 0 111px;
    align-self: start;

    &::after {
      top: -17px;
      left: -111px;
      right: auto;
    }
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: 76px auto;
  row-gap: 30px;
  margin: 0 0 65px;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 79px 255px 79px 255px;
    margin: 0 0 49px;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: 76px auto;
    margin-bottom: 32px;
    row-gap: 12px;
  }
}

.contacts__value {
  margin: 0;
}

.contacts__email {
  .link-reset();
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 1px;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);

    @media (min-width: @desktop-width) {
      bottom: -9px;
    }
  }
}

.contacts__location {
  margin: 0 0 38px;
  background-color: var(--accent-background-color);

  @media (min-width: @tablet-width) {
    margin-bottom: 55px
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    grid-row: span 3;
  }
}

.contacts__image {
  display: block;
  margin: 0 -30px;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 457px;
    margin: 0 -50px;
  }

  @media (min-width: @desktop-width) {
    width: 527px;
    height: 457px;
    margin: 0;
  }
}

.contacts__button {
  justify-self: center;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 230px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 3;
    grid-column: 2;
    align-self: end;
    justify-self: start;
  }
}

.contacts__map {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 133px;
  width: 100vw;
  min-width: 320px;
  height: 454px;
  border: none;

  @media (min-width: @tablet-width) {
    width: 100vw;
    height: 457px;
    bottom: 164px;
  }

  @media (min-width: @desktop-width) {
    width: 527px;
    height: 457px;
    bottom: 0;
    left: auto;
  }
}
