.contacts {
  padding: 38px 0 39px;
}

.contacts__wrapper {
  display: grid;

  @media (min-width: @desktop-width) {
    grid-template-columns: 88px 323px 527px;
    column-gap: 23;
  }
}

.contacts__title {
  margin: 0 0 28px;
}

.contacts__list {
  margin: 0 0 62px;
  font-size: 14px;
  line-height: 30px;
}

.contacts__email {
  .link-reset();
}

.contacts__location {
  margin: 0 0 42px;
}

.contacts__button {
  display: block;
  width: 260px;
  margin: 0 auto;
}
