.copyright {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--main-color);
}

.copyright-link {
  margin-left: 23px;
}

.copyright-icon {
  vertical-align: middle;
}
