.make-order__title {
  margin: 20px auto;
}

.make-order__description {
  margin: 0 0 29px;
  font-size: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 13px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 174px;
    width: 700px;
  }
}
