.modal-control {
  display: block;
  padding: 18px 22px;
  min-width: 82px;
  min-height: 52px;
  border: 2px solid rgba(68, 68, 68, 0.1);
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    min-width: 112px;
  }
}


.modal-control__label {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
}
