.page-main {
  flex-grow: 1;

  &--catalog {
    padding: 0 0 63px;

    @media (min-width: @desktop-width) {
      padding-bottom: 108px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-top: -42px;
  }
}
