.page-header {
  min-height: 79px;

  @media (min-width: @tablet-width) {
    min-height: 130px;
    padding: 22px 0;
  }

  @media (min-width: @desktop-width) {
    min-height: 130px;
    padding: 9px 0;
  }
}

.page-header__text {
  display: none;
  margin: 0;
  font-size: 15px;
  text-align: right;


  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    transform: translateY(-48px);
  }
}
