.page-main {
  flex-grow: 1;

  &--catalog {
    padding: 0 0 57px;

    @media (min-width: @tablet-width) {
      padding-bottom: 64px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 103px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-top: -86px;
  }
}
