.page-main {
  flex-grow: 1;

  &--catalog {
    margin: 0 0 58px;
  }

  @media (min-width: @tablet-width) {
    margin-top: -86px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -60px;
  }
}
