.page-header__container {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 668px;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    padding: 0 50px;
  }
}

.page-header__text {
  display: none;
  width: 300px;
  margin: 0;
  margin-left: auto;
  font-size: 15px;
  text-align: right;

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    z-index: 1;
    transform: translateY(-41px);
  }
}
