.production {
  padding: 21px 0 33px;
}

.production__wrapper {
  display: grid;
}

.production__heading {
  margin: 0 0 27px;
  padding-left: 91px;
  background: transparent url("../img/catalog/production-icon.svg") no-repeat;
}

.production__title {
  margin: 0;
  font-size: 17px;
  color: var(--main-color);
}

.production__video {
  margin: 0 0 35px;
}

.production__description {
  margin: 0 0 41px;
  font-size: 13px;
}
