.product-item {
  display: grid;
  align-items: center;
  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 462px auto min-content;
  }
}

.product-item__info {
  padding: 28px 28px 18px;
  align-self: stretch;

  @media (min-width: @tablet-width) {
    padding: 27px 32px 18px;
  }

  @media (min-width: @desktop-width) {
    padding: 28px 26px 10px;
  }
}

.product-item__link {
  display: block;
  .link-reset();
  align-self: start;

  &--photo {
    @media (min-width: @tablet-width) {
      grid-row: span 2;
    }

    @media (min-width: @desktop-width) {
      grid-row: span 1;
    }
  }

  &--label {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.product-item__photo {
  display: block;

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product-item__label {
  margin: 0 0 6px;
  font-size: 17px;
  line-height: 24px;
  color: var(--main-color);

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.product-item__description {
  margin: 0;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.product-item__foter {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 28px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 204px;
    height: 1px;
    background-color: #ececec;
    transform: translateX(-50%);

    @media (min-width: @tablet-width) {
      width: 268px;
    }

    @media (min-width: @tablet-width) {
      width: 256px;
    }
  }

  @media (min-width: @tablet-width) {
    align-self: end;
    padding: 8px 32px;
  }

  @media (min-width: @desktop-width) {
    padding: 9px 32px 7px 27px;
  }
}

.product-item__price {
  font-weight: 700;
  font-size: 15px;
  color: var(--main-color);

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}
