.reviews {
  padding: 29px 0 51px;
}

.reviews__wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    background: transparent url("../../img/index/reviews-bg.jpg") no-repeat left center;
  }

  @media (min-width: @desktop-width) {
    background-position: left 50px center;
  }
}

.reviews__title {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
    margin-left: 174px;
  }
}

.reviews__list {
  .list-reset();
  margin: 0 0 30px;
  padding: 0;

  @media (min-width: @desktop-width) {
    margin-left: 174px;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0 0 18px;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 61px;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

.reviews__author-info {
  @media (min-width: @tablet-width) {
    display: grid;
  }
}

.reviews__author {
  font-style: normal;
  font-weight: 700;
  color: var(--main-color);

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}

.reviews__author-link {
  line-height: 30px;
  .link-reset;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
  }
}

.reviews__button {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    right: 80px;
  }
}
