.user-navigation {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-self: end;
  }
}

.user-navigation__link {
  .link-reset();

  display: flex;
  align-items: center;

  @media (min-width: @desktop-width) {
    padding: 10px 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-navigation__icon {

  @media (min-width: @desktop-width) {
    padding: 10px;
    margin: 0px 22px;
  }

}

.user-navigation__name {
  @media (min-width: @tablet-width) {
    &--search {
      display: none;
    }
  }
}
