.top-product {
  padding: 31px 0 42px;
}

.top-product__title {
  margin: 0 0 3px;
}

.top-product__subtitle {
  margin: 0 0 18px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.top-product__description {
  margin: 0 0 28px;
  font-size: 15px;
}

.top-product__features {
  margin: 0 0 27px;
}

.top-product__photo {
  margin: 0 0 23px;
}

.top-product__price {
  margin: 0 0 24px;
  font-weight: 700;
}
